body {
    background-image: linear-gradient(to bottom right, rgb(0, 42, 255), rgb(255, 255, 255));
    height: 450vh;
    width: 400vw;
    padding-top:40px;
    
}
h1 {
    color: rgb(1, 0, 0);
    margin-top:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 3px;
    border-radius: 15px
    
}
p {
    color: rgb(1, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 6px;
    padding-right: 3px;
    border-radius: 15px
}
div {
text-align:center;
position:relative;
}

.niceborder {
  border-radius: 20px;
  background-color: #c7c7c7;
  padding: 50px; 
  width: 800px;
  height: 4000px;
}
table {
  width: 700px
  
}
.container {
max-width:800px
}